
department_store_brands/json/merged_data.json
department_store_brands/json/merge_json.py
department_store_brands/department_store_brands/sogo.md
department_store_brands/department_store_brands/shin.md
department_store_brands/sogo.md
department_store_brands/FEDS.md
department_store_brands/department_store_brands/FEDS.md
department_store_brands/sogo.md
department_store_brands/shin.md
department_store_brands/FEDSSpider.log
department_store_brands/101Spider.log
department_store_brands/101.md
department_store_brands/sogo.md
department_store_brands/shin.md
department_store_brands/department_store_brands/FEDSSpider.log
department_store_brands/breeze.md
department_store_brands/breezeSpider.log
